.App {
  text-align: center;
}

.App-header {
  color: #fff;
  text-align: center;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
  flex-direction: column;
}

.drag-container,
.console-container {
  width: calc(100% - 6rem);
  display: flex;
  flex-direction: column;
  padding: 3rem;
  height: 100%;
  align-items: center;
  max-width: 40rem;
  max-height: 50rem;
}

.console {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgb(239, 239, 239);
  border: #50c6d8 solid 0.1vw;
}

.btn {
  min-height: 2rem;
  box-sizing: border-box;
}

.App-title {
  font-size: 3em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.photoDragNew{
  position: relative;
  width: 75%;
  height: 75%;
  overflow: hidden;
  border-radius: 0.3em;
  border: #50c6d8 solid 0.2vw;
  display: inline-block;
  min-height: 200px;
}

.photoDragNew,
.console {
  margin-bottom: 1rem;
}

.photUrlNew{
  position: relative;
  float: left;
  width: 100%; 
}

.svg-container {
  position: absolute;
  top: -5%;
  right: 0;
  left: 0;
  z-index: -1;
}

@media (min-width: 48rem) {
  .main-container {
    flex-direction: row;
    width: 100%;
  }

  .photoDragNew {
    padding: 1rem;
    height: auto;
  }

  .drag-container,
  .console-container {
    box-sizing: border-box;
  }

  .console-container {
    width: 70%;
  }

  .drag-container {
    justify-content: center;
    width: 30%;
  }

  svg path {
    d: path("M 800 150 Q 400 175 0 150 L 0 0 L 800 0 L 800 150 Z");
  }
}

.wait {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  padding-top: 50%;
  height: 70%;
  background-color: black;
  opacity: 0.4;
  color: white;
}
